{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ block.super }} my favorite listings{% endblock title %}
{% block content %}
  <h1>{% trans "My favorite listings" %}</h1>
  <ul>
    {% for favorite in listing_favorites %}
    <li>
        <p>{{ favorite.user }} likes 
          <a href="{% url 'listings:listing_detail' favorite.favorite_listing.pk %}">
            {{ favorite.favorite_listing.name }}
          </a>
        </p>
      <form action="{% url 'listings:remove_favorite_listing' favorite.favorite_listing.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">{% trans "Remove"|capfirst %}</button>
      </form>
    </li>
    {% endfor %}
  </ul>
{% endblock content %}
