{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ block.super }} my favorite listings{% endblock title %}
{% block content %}
  <h1>{% trans "My favorite listings" %}</h1>
  <ul>
    {% for favorite in listing_favorites %}
    <li>
        <p>{{ favorite.user }} likes {{ favorite.favorite_listing.name }}</p>
      <form action="{% url 'listings:remove_favorite_listing' favorite.favorite_listing.id %}" method="post">
          {% csrf_token %}
          <button type="submit">{% trans "Remove"|capfirst %}</button>
      </form>
    </li>
    {% endfor %}
  </ul>
{% endblock content %}
