/* TEASER */
.teaser-container {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.teaser-content div {
    justify-self: center;
}

.teaser-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.teaser-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    text-align: -webkit-center;
}

.teaser-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.teaser-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.teaser-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.teaser-content ul {
    list-style: none;
    padding: 0;
}

.teaser-content ul li {
    margin-bottom: 1rem;
}

.teaser-content ul li strong {
    font-weight: bold;
}

.waitlist-form {
    margin-top: 20px;
}

.waitlist-email-input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.waitlist-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #FF6F61;
    border: none;
    color: white;
    cursor: pointer;
    width: 60%;
}

.waitlist-form button:hover {
    background-color: #DF4E40;
}
/* TEASER END*/
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0; padding: 0;
    min-height: 100vh;
    text-align: center;
}

.promo-line {
    background-color: #DF4E40;
    font-family: 'Montserrat', sans-serif; /* Adding Montserrat Regular font */
    font-size: 12px;
    font-weight: normal; /* Using normal font weight for Regular */
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.promo-line a {
    color: #ffffff;
    text-decoration: none;
}

header .main-line {
    padding: 20px 40px;
    min-height: 80px;
    text-decoration: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header .main-partition {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block: 0.5rem;
    padding-inline: 0;
    gap: 10px;
}

header h1 {
    background-color: #ffffff;
    border-bottom: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;
    text-align: center;
    font-family: 'Playfair dispair', serif;
    color: #000000;
    font-size: 40px;
    font-weight:300;
}

header .category-navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding-inline: 0;
    gap: 2rem;
    background-color: #FFFFFF;
    padding: 4px 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

header .category-navbar a{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #000000;
    font-size: 22px;
}

.header-logo {
    padding-right: 20px;
    margin: auto 0px;
}

.header-logo img {
    width: 80px;
    height: 80px;
}

/* SEARCH BAR */
  /* Main styles */
  .search-bar-header form {
    position: relative;
    width: 320px;
    background: #FFFFFF; /* Replacing var(--color-brand) */
    border-radius: .7rem; /* Replacing var(--rad) */
    margin: auto;
    text-align: left;
  }
  
  .search-bar-header input, .search-bar-header button {
    height: 50px; /* Replacing var(--height) */
    font-family: 'Montserrat', sans-serif;
    border: 0;
    color: #2f2f2f; /* Replacing var(--color-dark) */
    font-size: 22px;
  }
  
  .search-bar-header input[type="text"] {
    outline: 0; /* For better accessibility, consider removing this */
    width: 100%;
    background: #fff; /* Replacing var(--color-light) */
    padding: 0 0 0 0;
    border-radius: .7rem; /* Replacing var(--rad) */
    appearance: none; /* For iOS input[type="search"] roundedness issue */
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49); /* Replacing var(--dur) and var(--bez) */
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  
  .search-bar-header button {
    display: none; /* Prevent being able to tab to it */
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Replacing var(--btn-width) */
    background: #FF6F61; /* Replacing var(--color-brand) */
    border-radius: 0 .7rem .7rem 0; /* Replacing var(--rad) */
    z-index: 3;
    color: #FFFFFF;
  }
  
  .search-bar-header input:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem; /* Replacing var(--rad) */
    width: calc(100% - 6rem); /* Replacing var(--btn-width) */
  }
  
  .search-bar-header input:not(:placeholder-shown) + button {
    display: block;
  }
  
  .search-bar-header label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }  
/* SEARCH BAR END*/

main {
    background-color: #ffffff;
    padding: 40px 10px 80px 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    justify-content: space-between;
}

.footer-collumn {
    text-align: left;
}

.footer-extra-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 16px;
}

.language-form {
    margin-left: auto;
}

footer p {
    color: #000000;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #222222;
}

footer h6 {
    font-size: large;
    font-weight: 200;
}

section.messages {
    padding: 0;
    margin: 0;
}

.message {
    padding: 0.5rem;
    margin: 0;
    border-bottom: 1px solid #888888;
}

.message-debug {
    background-color: #aaaaaa;
}

.message-info {
    background-color: #99ccff;
}

.message-success {
    background-color: #FF6F61;
    color: #FFFFFF;
    border-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

.message-warning {
    background-color: #AB666B;
}

.message-error {
    background-color: #ffaaaa;
}

a {
    text-decoration: none;
}

.grid-wrapper-occasion a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.seperator-text a, .seperator-text a:visited {
    color: #000000;
}

.grid-wrapper a {
    color: #000000;
}

/* h1, h2, h3, h4, h5, h6 {
    background-color: #cccccc;
    border-bottom: 2px solid #888888;
    padding: 2%;
    border-radius: 10px;
    margin: 0;
    text-align: center;
}

h1:first-child, h2:first-child, h3:first-child, 
h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
} */


header ul.nav li a, header ul.nav li form button {
    background-color: #c4c4c4;
    display: flex;
    margin: 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #696969;
    cursor: pointer;
    color: #000000;
    font-size: 130%;
    border-radius: 15px;
}

header ul.nav li a:hover, header ul.nav li form button:hover {
    background-color: #b8b8b8;
    border-bottom: 2px solid #0055cc;
    color: #292929;
}

header form select {
    margin: 1rem;
    font-size: 100%;
}

button, .button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF6F61;
    color: #FFFFFF;
    padding: 13px 22px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 22px;
    outline: 1px solid #DF4E40;
}

.button-black {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    outline: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 13px 22px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 22px;
}

.button-black a {
    color: #000000;
}

.pagination .button-black {
    padding: 2px 10px;
}

button a, .button a {
    color: #FFFFFF;
}

.button-black:hover {
    background-color: #eeeeee;
}

button:hover, .button:hover {
    background-color: #DF4E40;
}

.icon-button:hover {
    background-color: transparent
}

ul.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.dashboard li {
    display: inline-block;
    border: 2px solid #999999;
    border-radius: 1rem;
}

ul.dashboard li h3 {
    border-radius: 1rem;
    text-align: center;
}

ul.dashboard li .stat {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #ffffff9f;
    border-radius: 5rem;
    min-width: 7rem;
}

.listings-container {
    font-size: 80%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
    gap: 4px; /* Adjust the gap between items as needed */
    background-color: #e4e4e4;
    margin: 4px 0px;
    padding: 4px 4px 0px 4px;
    min-height: 104px;
    max-height: 110px;
    text-align: justify;
    align-items: center;
}

.listing-upload-guidelines {
    padding: 40px 80px;
    text-align: left;
}

.listing-upload-guidelines ul {
    padding-inline-start: 16px;
}

.listing-item {
    border: 1px solid #ddd; /* Add borders or styling as needed */
    padding: 10px;
    width: calc(33.33% - 20px); /* Adjust the width based on the number of items you want in a row */
    box-sizing: border-box;
}

.listing-image {
    object-fit: cover; /* This property will make the image fill the specified dimensions without stretching */
}

.main-page-content{
    padding: 10px;
}

.grid-wrapper , .grid-wrapper-occasion, .grid-wrapper-profile{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 20px;
    justify-content: center;
}

.popular-dresses {
    padding: 0px 30px;
    font-family: 'Montserrat', sans-serif;
}

.seperator-text h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 60px;
}

.seperator-div {
    text-align: center;
    padding: 20px 0px;
}

.grid-item p {
    margin: 0px;
}

.grid-item a {
    font-weight: 600;
    color: #FFFFFF;
}

.grid-item p {
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

.grid-item a:visited {
    color: #000000;
}

.pagination a:visited {
    color: #000000;
}

.pagination a:link {
    color: #000000;
}

.grid-item button a:visited {
    color: #FFFFFF;
}

.grid-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    font-family: 'Inter', sans-serif;
}

.grid-tags p {
    background-color: #FF6F61;
    border-radius: 10px;
    font-weight: 300;
    padding: 2px 8px;
    color: #FFFFFF;
    font-size: 12px;
}

.grid-text {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.like-unlike {
    width: 40px;
    height: 40px;
    position: absolute;
}

.like-unlike-profile {
    width: 40px;
    height: 40px;
    position: absolute;
}

.like-unlike-profile button{
    color: #FFFFFF;
    background-color: #FF6F61;
    padding: 4px;
    border: 0px;
}

.grid-item {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2px;
    min-width: 186px;
    overflow: hidden;
}

/* Mobile Full-screen Menu Styles */
.mobile-fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
}

.mobile-fullscreen-menu.active {
    display: block;
}

.mobile-exit-button {
    text-align: right;
}

.mobile-exit-button button {
    font-size: 2rem;
    background: none;
    outline: 1px solid #444444;
    cursor: pointer;
}

.shop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-menu {
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 8px;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.mobile-filters {
    display: none;
}

.mobile-filter-menu {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position to overlay the content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color to make it stand out */
    overflow-y: auto; /* Enable scrolling if content overflows */
    z-index: 1000; /* Ensure it's on top of other content */
    padding: 20px; /* Add some padding */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

.mobile-filter-menu.show {
    display: block; /* Show the filter menu */
}

.filter-menu h2 {
    margin-top: 0;
}

.mobile-filters h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.filter-item {
    margin-bottom: 10px;
}

.filter-toggle {
    background: none;
    border: none;
    color: #333;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-toggle.active {
    background-color: #FF6F61;
    color: white;
}

.filter-toggle:hover {
    background-color: #FF6F61;
    color: black;
}

.filter-toggle::after {
    content: '▼';
    font-size: 16px;
}

.filter-toggle.active::after {
    content: '▲';
}

.filter-content {
    display: none;
    padding: 10px;
    flex-direction: column;
    font-size: 20px;
    gap: 2px;
}

#brand-dropdown {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure the dropdown appears above other elements */
    max-height: 150px; /* Limit the height for better usability */
    overflow-y: auto; /* Add scroll if the content exceeds the max height */
    max-width: 300px;
}

.about-us {
    padding: 20px 48px;
    text-align: left;
}

.about-us h1 {
    padding: 20px 0px;
}

.about-us p {
    padding-bottom: 20px;
}

/* Hide the default checkbox */
.toggle-button input[type="checkbox"] {
    display: none;
}

/* Style the label to change background based on checkbox state */
.toggle-button input[type="checkbox"]:checked + span {
    background-color: #FF6F61; /* Change background when checkbox is checked */
}

/* Ensure the span within the label takes up space */
.toggle-button span {
    display: block; /* Ensure the span occupies space for background color change */
    width: 100%;
    height: 100%;
}

/* Style for when a label is active (if needed for additional active styling) */
.toggle-button.active {
    background-color: #FF6F61; /* Background color for active state */
    color: #ffffff;
    border-radius: 4px;
}
.filter-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
    max-width: 200px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
}

.filter-grid-item p {
    margin: 10px 20px;
    border-bottom: 1px solid;
    width: auto;
}

.grid-item img {
    max-height: 300px;
    max-width: 200px;
}

.grid-item img.icon {
    min-height: 20px;
    width: 40px;
    height: 40px;
}

.hero-picture img{
    width: 100%;
}

.hero-picture h2, h3 {
    border-bottom: 0;
    padding: 0;
    border-radius: 0;
    margin: 0;
    text-align: center;
    font-family: 'Playfair dispair', serif;
    color: #000000;
    font-size: 24px;
    font-weight:300;
}

.text-overlay {
    position: absolute; /* Position the overlay absolutely */
    top: 55%; /* Position it 50% from the top */
    left: 25%; /* Position it 25% from the left */
    transform: translate(-20%, -60%); /* Center the overlay */
    text-align: center; /* Center-align the text */
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}

.text-overlay h2,
.text-overlay h3 {
    margin: 0; /* Remove default margin */
    padding: 10px 0px;
    background-color: transparent;
    text-align: left;
    color: #FFFFFF;
}

.text-overlay h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.text-overlay h3 {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 18px;
}
  
.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
}

.buttons {
    margin: 10px 0px;
}

.brands-line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.brands-line img {
    width: 200px;
    height: 100px;
}

.perk-bar {
    background-color: #FFECC6;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 6rem;
    text-align: center;
}

.perk-bar h1 {
    padding: 20px 0px;
    text-transform: uppercase;
    padding: 20px 0px;
    font-size: 24px;
    text-align: center;
}

.perk-cards {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.perk-card {
    width: calc(25% - 20px); /* Each card takes up 25% of the width with some spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    padding: 20px; /* Add some padding around each card */
}

.perk-card p {
    font-weight: bold;
}

.reviews-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.reviews-card {
    max-width: 350px;
    background-color: #ECECEC;
}

.review-div {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 300px;
    gap: 2px;
}

.review-container {
    text-align: -webkit-center;
}

.product-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.choice-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.choice-container img {
    width: 200px;
}

.listing-create {
    padding: 10px 200px;
}

.hiw-container {
    text-align: center;
    padding-bottom: 20px;
}

.hiw-grid {
    width: 25%;
    padding: 20px 5px;
    background-color: #F8F8F8;
    border-radius: 30px;
}

.how-it-works-container .container-content {
    display: none;  
}

.how-it-works-container .container-content.active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.how-it-works-container {
    font-family: 'Inter', sans-serif;
}

.how-it-works-container h2 {
    font-size: 20px;
    font-weight: 400;
}

.how-it-works-container p {
    font-size: 16px;
    font-weight: 200;
}

.dual-choice {
    padding: 0px 0px 20px 0px;
}

.dual-choice button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.dual-choice button.active {
    background-color: #FF6F61;
    color: #fff;
}

.listing-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.listing-form label {
    font-weight: bold;
}

.platform-rules , .terms-conditions{
    padding: 20px 40px;
    text-align: start;
}

.listing-form input,
.listing-form select,
.listing-form textarea {
    width: 100%;
}

.menu {
    display: none;
}

.mobile-fullscreen-menu {
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.menu.visible {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    right: 20px;
    top: 145px;
    width: 200px;
    backdrop-filter: blur(15px);
    text-align: center;
    border: 1px solid #FFECC6;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 12px;
    text-transform: uppercase;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

main div .product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-container {
    padding: 20px 0px;
    align-content: center;
    z-index: 1;
    position: relative;
    width: 400px; 
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 600px;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    align-self: center;
}

.carousel-item img {
    pointer-events: auto;
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

/* Modal container */
.image-modal {
    display: none;
    position: fixed;
    align-content: center;
    z-index: 1000; /* High enough to be above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black background */
}

/* Modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.product-description {
    width: 40%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.product-description h1 {
    border: 0px;
    margin: 0px;
    font-size: 20px;
}

.product-description h2 {
    margin: 0px;
    font-size: 20px;
}

.description-box-items {
    border: #D2D2D2 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.description-box-items p {
    font-size: 20px;
    text-align: left;
    padding: 0px 10px;
}
.inline-items {
    display: flex;
    flex-wrap: wrap;
}

.text-bold {
    font-weight: 600;
}

.action-buttons {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
    justify-content: center;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-item {
    display: flex;
    flex-direction: row;
}

.user-list {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-picture {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    position: relative; /* Add this line */
    align-self: center;
}

.profile-picture-icon {
    margin-left: 20px;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    position: relative; /* Add this line */
}

.profile-picture-icon img {
    width: 100%;
    height: 100%; /* Set height to 100% */
    object-fit: cover; /* Ensure the image fills the circle */
    object-position: center; /* Center the image within the circle */
    position: absolute; /* Position the image relative to its parent */
    top: 0;
    left: 0;
}

.icon-button {
    outline: 0;
    background: transparent;
    padding: 0px;
    width: 40px;
    height: 40px;
}

.profile-picture img {
    width: 100%;
    height: 100%; /* Set height to 100% */
    object-fit: cover; /* Ensure the image fills the circle */
    object-position: center; /* Center the image within the circle */
    position: absolute; /* Position the image relative to its parent */
    top: 0;
    left: 0;
}

.user-info {
    margin-left: 20px; /* Adjust spacing between picture and info */
}

.disclaimer {
    text-align: left;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.disclaimer h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.review-container {
    text-align: -webkit-center;
}


.review-bar {
    font-family: 'Montserrat', sans-serif;
}

.reviews-card img {
    height: 50px;
    width: 50px;

}

.review-name {
    font-weight: 600;
}

.review-text {
    font-size: 12px;
    max-width: 250px;
}

.containerpart1 {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.containerpart2 {
    display: flex;
    justify-content: space-around;
}

.review-hero-text h6 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}

.perk-text h6 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}

.complete-your-look {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.container-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.container-choice button {
    margin: 10px 20%;
}

.pagination {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.pagination .current {
    color: #DF4E40;
    outline: 1px solid #DF4E40;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    gap: 8px;
}

.fieldWrapper input , .fieldWrapper select {
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
}

.fieldWrapper a {
    font-size: 10px;
    margin-right: auto;
}

.form-fields {
    padding: 20px 10%;
}

select {
    border-width: 0px;
    border-bottom: 1px solid black;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

input#id_picture {
    font-family: 'Inter', sans-serif;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* Slider */
.switch-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 34px;
}

/* Slider before element */
.switch-slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
border-radius: 50%;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
}
  
/* When the checkbox is checked, change the slider background */
input:checked + .switch-slider {
background-color: #DF4E40;
}

/* When the checkbox is checked, move the slider */
input:checked + .switch-slider:before {
transform: translateX(26px);
}
/* SWITCH END   */

/* TAGS CHECKBOX */
.tag-toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tag-toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 14px;
}

.tag-toggle-button.selected {
    background-color: #FF6F61; /* Color when selected */
    color: white;
    border-color: #FF6F61;
}

.tag-toggle-button:hover {
    background-color: #e0e0e0; /* Color on hover */
}

/* Hide the actual checkbox input */
.tag-toggle-button input {
    display: none;
}

/* Ensure the checkbox is hidden but still functional */
.tag-toggle-button input:checked + .tag-toggle-button {
    background-color: #2196F3; /* Color when checked */
    color: white;
}

/* TAGS CHECKBOX END */

.feedback-form {
    max-width: 350px;
    min-width: 200px;
    margin: auto;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5)); /* Adjust this value based on the number of unique slides */
    }
  }
  
  .slider {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960;
  }
  
  .slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 10); /* Adjust this value based on the total number of slides */
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
    padding-left: 20px;
  }
  


.conversation-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid #D2D2D2;
    border-bottom: 2px solid #D2D2D2;
    width: 360px;
    margin-bottom: -1px;
    justify-content: space-between;
}

.conversation-card:hover {
    background-color: #d2d2d213;
    cursor: pointer;
}

.listing-picture-mini {
    height: 50px;
}

.profile-picture-conv {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    align-self: center;
}

.conversation-content {
    text-align: left;
    min-width: 240px;
}

.conversation-list {
    place-items: center;
}

.conversation-last-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.chat-top-bar a {
    align-content: center;
}


.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}
.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.listing-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}
.chat-header-listing-info h1{
    font-size: 20px;
}

.chat-header-listing-info p {
    font-size: 20px;
}

.participant-info {
    text-align: right;
    font-size: 24px;
}
.chat-messages {
    padding: 20px;
    background-color: #f9f9f9;
    height: 400px;
    overflow-y: scroll;
}
.message {
    display: flex;
    margin-bottom: 10px;
}
.message.sent {
    flex-direction: row-reverse;
    text-align: right;
    gap: 5px;
}

.message.received {
    text-align: left;
    gap: 4px;
}

.message-content {
    max-width: 80%;
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 5px;
    position: relative;
}
.message-timestamp {
    font-size: 0.8em;
    color: #666;
    display: block;
}
.unread {
    color: #202020;
}
.send-message-form {
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.participant-info h2 {
    margin: 0px;
}

.send-message-form {
    padding: 0px;
}

.send-message-form p {
    margin: 0px;
}

.send-message-form label{
    display: none;
}

.send-message-form textarea{
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
}

.action-buttons-user, .action-buttons-owner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
}

.badge {
    color: #FFFFFF;
    background-color: #DF4E40;
    border-radius: 10px;
    padding: 2px 6px;
}

/* Media query for tablets */
@media screen and (max-width: 1324px) {
    /* Tablet styles */
    .user-item {
        display: flex;
        flex-direction: column;
    }
    button, .button, .button-black{
        padding: 7px 11px;
        font-size: 20px;
    }
    header .category-navbar a {
        font-size: 18px;
    }
    .seperator-text h1{
        font-size: 36px;
    }
    .search-bar-header form {
        width: 260px;
    }
    .text-overlay {
        top: 50%;
        left:40%;
    }
    .text-overlay h2,
    .text-overlay h3,
    .text-overlay button {
        font-size: 18px;
    }
    header .category-navbar {
        gap: 1rem;
    }
    .perk-card {
        width: calc(50% - 10px); /* Each card takes up 50% of the width with some spacing */
    }
    .perk-bar {
        margin: 0px 3rem;
    }
    .perk-bar h1{
        font-size: 20px;
    }
    .perk-text {
        width: calc(100%);
    }
    .brands-line img {
        width: 100px;
        height: 50px;
    }
    .grid-wrapper , .grid-wrapper-occasion {
        grid-template-columns: repeat(2, 0fr);
        gap: 10px;
      }

    .slider {
        width: 600px;
    }
    .review-div {
        gap: 4px;
    }
    .product-description {
        width: auto;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 760px) {
    /* Mobile styles */
    .hero-buttons {
        min-width: max-content;
        justify-content: center;
        flex-direction: column;
    }
    .user-profile {
        flex-direction: column;
    }
    .slider {
        width: 300px;
    }
    header h1 {
        font-size: 30px;
    }
    .hero-picture {
        height: 500px;
        width: 100%;
    }
    .hero-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* crop the image to fill the container while maintaining aspect ratio */
        display: block; /* remove any bottom space */
        object-position: center left;
    }
    .search-bar-header form {
        width: 200px;
    }
    .seperator-text h1 {
        margin: 5px;
    }
    .how-it-works-container .container-content.active, .complete-your-look{
        flex-direction: column;
        gap: 2px;
    }
    .hiw-grid, .container-choice {
        width: 100%;
    }
    .text-overlay {
        position: absolute;
        top: 25%;
        left: 20%;
        transform: none;
        padding: 0px 10px;
    }
    .text-overlay h2,
    .text-overlay h3,
    .text-overlay button {
        text-align: center;
    }
    .main-page-content{
        padding: 0px;
    }
    .promo-line {
        font-size: 60%;
    }
    .footer-content{
        gap: 20px;
        padding: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header .main-line {
        font-size: 60%;
    }
    header .category-navbar, .profile-picture-icon, .action-buttons, .filter-menu {
        display: none;
    }

    .filter-menu.show {
        display: block;
    }

    header .main-line {
        padding: 0px 5px;
    }
    .header-logo {
        padding: 6px;
    }
    .header-logo img {
        width: 60px;
        height: 60px;
    }
    .popular-dresses {
        padding: 0px 10px;
    }

    .perk-card {
        width: calc(100% - 5px); /* Each card takes up 100% of the width with some spacing */
    }
    .perk-bar {
        margin: 0px 1rem;
    }
    .perk-bar h1{
        font-size: 16px;
    }
    .perk-text {
        width: calc(100%);
    }
    .perk-cards {
        width: calc(100%);
    }
    .grid-wrapper .grid-wrapper-profile{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 5px;
        justify-content: center;
    }
    .listing-image {
        min-width: 186px;
        min-height: 279px;
    }
    header .main-line a {
        color: #999999;
    }
    .desktop-menu {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-fullscreen-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .mobile-fullscreen-menu.visible {
        display: flex;
    }
    .mobile-exit-button button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: #444444;
        font-size: 30px;
        cursor: pointer;
    }
    .mobile-fullscreen-menu ul {
        list-style: none;
        padding: 0;
    }
    .mobile-fullscreen-menu li {
        margin: 20px 0;
    }
    .mobile-fullscreen-menu a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
    }
    .shop-content {
        flex-direction: column;
    }
    .mobile-filters {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }
    .mobile-filters h2 {
        font-size: 18px;
        font-weight: 400;
    }
    .filter-menu.show {
        width: 100%;
    }
    .filter-menu h2 , .filter-menu p {
        display: none;
    }
    .grid-text {
        flex-wrap: wrap;
    }
    button.filter-toggle {
        font-weight: 400;
    }
    .filter-bar , .grid-wrapper-profile {
        grid-template-columns: repeat(2, 0fr);
    }
    .footer-extra-bar {
        padding: 4px;
        flex-direction: column;
    }
    .footer-collumn {
        max-width: 60%;
        place-items: center;
    }
    .pagination button {
        font-size: 16px;
    }
    .listing-upload-guidelines {
        padding: 20px 40px;
    }
}
@media screen and (max-width: 480px) {
    .grid-wrapper-occasion {
        grid-template-columns: repeat(1, 0fr);   
    }
}
@media screen and (max-width: 360px) {
    /* Mobile styles */
    .hero-buttons {
        padding: 0px;
    }
    .search-bar-header {
        display: none;
    }
    .grid-wrapper , .grid-wrapper-profile {
        grid-template-columns: repeat(1, 0fr);   
    }
    .slider {
        display: none;
    }
}