{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} | {{ listing.name }}{% endblock title %}
{% block content %}
<div class="listing-container">
  <div class="seperator-text">
    <h1>{{ listing.name }}</h1>
  </div>
  <div class="product-container">
    <div class="carousel-container">
      <div class="carousel">
          {% if listing.picture %}
              <div class="carousel-item active">
                  <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" onclick="openModal('{{ listing.picture.url }}')">
              </div>
          {% endif %}
          {% if listing.picture_1 %}
              <div class="carousel-item">
                  <img src="{{ listing.picture_1.url }}" alt="{{ listing.name }}" onclick="openModal('{{ listing.picture_1.url }}')">
              </div>
          {% endif %}
          {% if listing.picture_2 %}
              <div class="carousel-item">
                  <img src="{{ listing.picture_2.url }}" alt="{{ listing.name }}" onclick="openModal('{{ listing.picture_2.url }}')">
              </div>
          {% endif %}
          {% if listing.picture_3 %}
              <div class="carousel-item">
                  <img src="{{ listing.picture_3.url }}" alt="{{ listing.name }}" onclick="openModal('{{ listing.picture_3.url }}')">
              </div>
          {% endif %}
      </div>
      {% if listing.picture or listing.picture_1 or listing.picture_2 or listing.picture_3 %}
          <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
          <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
      {% endif %}
    </div>
    
    <!-- Modal for fullscreen image -->
    <div id="imageModal" class="image-modal" onclick="closeModal(event)">
      <span class="close">&times;</span>
      <img class="modal-content" id="fullImage">
    </div>
     
    <div class="product-description">
      <div class="description-box-items">
        <h2>{% trans "Listing details"|capfirst %}</h2>
        {% if listing.value %}
        <div class="inline-items">
          <p class="text-bold">{% trans "Value:" %}</p>
          <p>{{ listing.value|floatformat:0 }} €</p>
        </div>
        {% endif %}
    
        {% if listing.price %}
        <div class="inline-items">
          <p class="text-bold">{% trans "Price:" %}</p>
          <p>{{ listing.price|floatformat:0 }} € {% trans "for 4 days" %}</p>
        </div>
        {% endif %}
    
        {% if listing.sell_price %}
        <div class="inline-items">
          <p class="text-bold">{% trans "Sell Price:" %}</p>
          <p>{{ listing.sell_price|floatformat:0 }} €</p>
        </div>
        {% endif %}
        <div class= "inline-items"><p class="text-bold">{% trans "Category:" %} </p><a href="{% url 'listings:shop_page' %}?parent_category=all&category={{ listing.category.id }}"><p class="button">{{ listing.category }}</p></a></div>
        <div class= "inline-items"><p class="text-bold">{% trans "Brand:" %} </p><a href="{% url 'listings:shop_page' %}?brand={{ listing.brand.name }}"><p class="button">{{ listing.brand }}</p></a></div>
        <div class= "inline-items"><p class="text-bold">{% trans "Size:" %} </p><a href="{% url 'listings:shop_page' %}?size={{ listing.size }}"><p class="button"> {{ listing.size }}</p></a></div>
        <div class= "inline-items"><p class="text-bold">{% trans "Quality:" %} </p><p>{{ listing.get_quality_display }}</p></div>
        <div class= "inline-items"><p class="text-bold">{% trans "Listing Owner:" %} </p><p class="button"><a href="{% url 'user_detail' username=listing.owner.username %}">{{ listing.owner.username }}</a></p></div>
        <div class= "inline-items"><p class="text-bold">{% trans "Description:" %} </p><p> {{ listing.description }}</p></div>
        <div class= "action-buttons-user">
          {% if user.is_authenticated %}
            {% if user_favorites %}
            <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
              {% csrf_token %}
              <button type="submit">{% trans "Unlike"|capfirst %}</button>
            </form>
            {% else %}
                <a class="button" href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                  {% trans "Like"|capfirst %}
                </a>
            {% endif %}
            <a class="button" href="{% url 'messenger:create_conversation' listing.pk %}">{% trans "Start a Conversation" %}</a>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<div class="product-details">
  <div class='review-div'>
    <h5>{% trans "Listing reviews" %} ({{ listing_reviews.count }})</h5>
    <h5>{% trans "Review average" %} ({{ average_rating|floatformat:"1" }})</h5>
    {% if listing_reviews %} 
      {% for r in listing_reviews %}
        <p>{{ r.rate }}⭐ "{{ r.comment }}" {{ r.user }} {{ r.created_at|date:"d M Y" }}</p>
      {% endfor %}
    {% else %}
      <p>{% trans "No reviews" %}</p>
    {% endif %}  
    <a class="button" href="{% url 'listings:create_listing_review' listing_id=listing.pk %}">
      {% trans "Leave a review"|capfirst %}
    </a>
  </div>
  <div class="user-details">
    <div class='review-div'>
      <h5>{% trans "User Reviews" %} ({{ profile_reviews.count }})</h5>
      <h5>{% trans "Review average" %} ({{ profile_average_rating|floatformat:"1" }})</h5>
      {% if profile_reviews %} 
        {% for r in profile_reviews %}
          <p>{{ r.rate }}⭐ "{{ r.comment }}" {{ r.user }} {{ r.created_at|date:"d M Y" }}</p>
        {% endfor %}
      {% else %}
        <p>{% trans "No reviews" %}</p>
      {% endif %}  
      {% if request.user == user %}
      {% else %}
          <a class="button" href="{% url 'create_profile_review' profile_id=current_profile.pk %}">
          {% trans "Leave a review"|capfirst %}
      </a>
      {% endif %}
      <a href="{% url 'user_detail' username=listing.owner.username %}"><p class="button">{{ listing.owner.username }}</p></a>
    </div>
  </div>
</div>
  <div class="action-buttons">
      <a class="button" href="{% url 'listings:listing_create' %}">
        {% trans "Create listing"|capfirst %} 
      </a>
    {% if listing.owner == request.user %}
        <a class="button" href="{% url 'listings:listing_update' listing.pk %}">
          {% trans "Edit"|capfirst %}
        </a>
        <a class="button" href="{% url 'listings:listing_delete' listing.pk %}">
          {% trans "Delete"|capfirst %}
        </a>
    {% endif %}
    </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const carousel = document.querySelector('.carousel');
    const items = document.querySelectorAll('.carousel-item');
    const totalItems = items.length;
    let currentIndex = 0;

    function updateCarousel() {
        carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    window.openModal = function(imageUrl) {
        var modal = document.getElementById("imageModal");
        var fullImage = document.getElementById("fullImage");
        modal.style.display = "block";
        fullImage.src = imageUrl;
    };

    window.closeModal = function(event) {
        if (event) {
            event.stopPropagation(); // Prevents triggering click on the modal background
        }
        var modal = document.getElementById("imageModal");
        modal.style.display = "none";
        var fullImage = document.getElementById("fullImage");
        fullImage.src = ""; // Optional: clear the image source
    };

    window.nextSlide = function() {
        if (currentIndex < totalItems - 1) {
            currentIndex++;
        } else {
            currentIndex = 0;
        }
        updateCarousel();
    };

    window.prevSlide = function() {
        if (currentIndex > 0) {
            currentIndex--;
        } else {
            currentIndex = totalItems - 1;
        }
        updateCarousel();
    };

    // Add click event listeners for the images in the carousel
    document.querySelectorAll('.carousel-item img').forEach(img => {
        img.addEventListener('click', function() {
            openModal(this.src);
        });
    });
});
  </script>
{% endblock content %}
