{% extends "base.html" %}{% load i18n %}
{% block title %}{{ user }} {% trans "at" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "user"|title %} {{ user.username }}</h1>
<p>{{ user.first_name }} {{ user.last_name }}</p>
<div>
    {% if user.profile.picture %}
    <img src="{{ user.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="300">
{% endif %}
</div>
{% if user == request.user %}
    <p>{% trans "e-mail"|capfirst %}: {{ user.email }}</p>
{% endif %}
{% with listing_count=user.listings.count %}
    <p>{% trans "Number of Listings" %}: {{ listing_count }}</p>
{% endwith %}
{% with unavailable_listings_count=unavailable_listings_count %}
    <p>{% trans "Number of Unavailable Listings" %}: {{ unavailable_listings_count }}</p>
{% endwith %}
{% if user.is_authenticated %}
<p>
<a class="button" href="{% url "user_update" %}">{% trans "edit profile data" %}</a>
<a class="button" href="{% url "offers:my_offers" %}">{% trans "my offers"%}</a>
<a class="button" href="{% url "listings:my_favorites" %}">{% trans "my favorite listings"%}</a>
<a class="button" href="{% url "my_favorite_users" %}">{% trans "my favorite users"%}</a>
</p>
    {% if user_favorites %}
    <form action="{% url 'remove_favorite' user.pk %}?next={{ request.path }}" method="post">
      {% csrf_token %}
      <button type="submit">{% trans "Unlike"|capfirst %}</button>
    </form>
    {% else %}
        <form action="{% url 'favorite_user' user.id %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <button type="submit">{% trans "Like"|capfirst %}</button>
        </form>
    
    {% endif %}
{% endif %}
{% endblock content %}
