{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{{ user }} {% trans "at" %} {{ block.super }}{% endblock title %}
{% block content %}
{% if request.user == user %}
        <h1>{% trans "My Profile"|upper %}</h1>
    {% else %}
        <h1>{{ user.username|upper }} {% trans "Profile"|upper %}</h1>
    {% endif %}
<div class="user-profile">
    <div class="profile-picture">
        {% if current_profile.picture %}
            <img src="{{ current_profile.picture.url }}" alt="{% trans "Profile Picture"|title %}" width="300">
        {% else %}
            <div class="no-picture">
                <p>{% trans "No profile picture available" %}</p>
            </div>
        {% endif %}
    </div>
    <div class="user-info">
        <h1>{% trans "user"|title %} {{ user.username }}</h1>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        {% with listing_count=user.listings.count %}
            <p>{% trans "Number of Listings" %}: {{ listing_count }}</p>
        {% endwith %}
    
        {% if user.userprofile.contact_options.IG %}
            <p><strong>{% trans "Instagram" %}:</strong> <a href="{{ user.userprofile.contact_options.IG }}" target="_blank">{{ user.userprofile.contact_options.IG }}</a></p>
        {% endif %}
        {% if user.userprofile.contact_options.FB %}
            <p><strong>{% trans "Facebook" %}:</strong> <a href="{{ user.userprofile.contact_options.FB }}" target="_blank">{{ user.userprofile.contact_options.FB }}</a></p>
        {% endif %}
        {% if user.userprofile.contact_options.NUM %}
            <p><strong>{% trans "Phone Number" %}:</strong> {{ user.userprofile.contact_options.NUM }}</p>
        {% endif %}
        {% if user.userprofile.contact_options.EMAIL %}
            <p><strong>{% trans "Email" %}:</strong> {{ user.userprofile.contact_options.EMAIL }}</p>
        {% endif %}
    </div>
</div>
<div class="buttons">
    {% if request.user == user %}
        <a class="button" href="{% url "user_update" %}">{% trans "edit profile data" %}</a>
    {% endif %}
</div>
    {% if request.user == user %}
    {% else %}
        {% if user_favorites %}
        <form action="{% url 'remove_favorite' user.pk %}?next={{ request.path }}" method="post">
        {% csrf_token %}
        <button type="submit">{% trans "Unlike"|capfirst %}</button>
        </form>
        {% else %}
            <form action="{% url 'favorite_user' user.id %}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <button type="submit">{% trans "Like"|capfirst %}</button>
            </form>
        {% endif %}
    {% endif %}
<div class="profile-listings">
    {% if request.user == user %}
        <h1>{% trans "My Listings"|upper %}</h1>
    {% else %}
        <h1>{{ user.username|upper }} {% trans "Listings"|upper %}</h1>
    {% endif %}
    <div class="grid-wrapper">
        {% for listing in profile_listings %}
            <div class="grid-item">
                {% if listing.picture %}
                    <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
                        <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
                    </a>
                {% else %}
                    <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
                        <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
                    </a>
                {% endif %}
                <div class="grid-tags">
                    <a href="{% url 'listings:shop_page' %}?size={{ listing.size }}"><p>{{ listing.size }}</p></a>
                    <a href="{% url 'listings:shop_page' %}?brand={{ listing.brand.name }}"><p>{{ listing.brand }}</p></a>
                </div>
                <div class="grid-text">
                    <p>{{ listing.price|floatformat:0 }} {% trans " &#8364;/4 days" %}</p>
                    {% if listing.is_for_sale %}
                        <p2>{% trans "Buy now" %}: {{ listing.value|floatformat:0 }} &#8364;</p2>
                    {% endif %}
                </div>
                {% if not listing.is_available %}
                    <p>{% trans "Waiting for admin approval" %}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>        
</div>
<div class="pagination">
        {% if profile_listings.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ profile_listings.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in profile_listings.paginator.page_range %}
            {% if profile_listings.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if profile_listings.has_next %}
            <a href="?page={{ profile_listings.next_page_number }}">Next</a>
            <a href="?page={{ profile_listings.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
</div>
<div class="review-container">
    {% if request.user == user %}
            <h1>{% trans "My Reviews"|upper %}</h1>
        {% else %}
            <h1>{{ user.username|upper }} {% trans "Reviews"|upper %}</h1>
        {% endif %}
    <div class='review-div'>
        <h5>{% trans "Reviews" %} ({{ reviews.count }})</h5>
        <h5>{% trans "Review average" %} ({{ average_rating|floatformat:"1" }})</h5>
        {% if reviews %} 
        {% for r in reviews %}
            <p>{{ r.rate }}⭐ "{{ r.comment }}" {{ r.user }} {{ r.created_at }}</p>
        {% endfor %}
        {% else %}
        <p>{% trans "No reviews" %}</p>
        {% endif %}  
        {% if request.user == user %}
        {% else %}
            <a class="button" href="{% url 'create_profile_review' profile_id=current_profile.pk %}">
            {% trans "Leave a review"|capfirst %}
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
