{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Reset Password"|title %} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Reset Password"|title %}</h1>
{% if validlink %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Reset Password"|title %}</button>
    </form>
{% else %}
    <p class="box box-error">{% trans "Password Reset Failed: The link has expired and is no longer valid." %}</p>
{% endif %}
{% endblock content %}
