<!DOCTYPE html>
{% load static %}{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rented{% endblock title %}</title>
    <link rel="icon" href="{% static 'icon.png' %}" type="image/x-icon">
</head>
<body>
    <div class="promo-line"><a href="{% url 'signup' %}">DISCOUNT FOR NEW PLATFORM USERS - NO FEES</a></div>
    <header>
        <div class="main-line">
            <a href="{% url 'listings:how-it-works' %}">
                <p>{% trans "How it works" %}</p>
            </a>        
            {% comment %} <ul class="nav">
                <li><a href="{% url 'listings:shop_page' %}">{% trans "shop"|capfirst %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'listings:my_listings' %}">{% trans "my listings"|capfirst %}</a></li>
                    {% if  user.is_superuser%}
                <li><a href="{% url 'listings:listing_list' %}">{% trans "listings"|capfirst %}</a></li>
                    {% endif %}
                {% endif %}
            </ul> {% endcomment %}
            <a href="{% url 'listings:main_page' %}">
                <h1>PINKPINK</h1>
            </a>
                <div class="profile-picture-icon">
                    {% if request.user.userprofile.picture %}
                        <img id="menu-toggle" class="menu-icon" src="{{ request.user.userprofile.picture.url }}" alt="{% trans "Profile Picture"|title %}" width="300">
                    {% else %}
                        <img id="menu-toggle" class="menu-icon" src="{% static 'profile-icon.png' %}">
                    {% endif %}
                </div>
            <nav id="menu" class="menu">
                <ul>
                    {% if request.user.is_authenticated %}
                        {% if request.user.userprofile.picture %}
                            <li><a href="{% url 'user_detail_current' %}">My Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'user_update' %}">Create Profile</a></li>
                        {% endif %}
                    <li><a href="{% url "offers:my_offers" %}">My Orders</a></li>
                    <li><a href="{% url "my_favorite_users" %}">My Favorite users</a></li>
                    <li><a href="{% url "listings:my_favorites" %}">My Favorite listings</a></li>
                    <li><a href="#">Messages</a></li>
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a></li>
                    {% endif %}
                    <li><form method="post" action="{% url "logout" %}">{% csrf_token %}<button type="submit">{% trans "log out"|capfirst %}</button></form></li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans "log in"|capfirst %}</a></li>
                    <li><a href="{% url 'signup' %}">{% trans "sign up"|capfirst %}</a></li>
                {% endif %}
                </ul>
            </nav>
            </div>
            <div class="category-navbar">
                <a href="{% url 'listings:category_page' category_slug='wedding-dresses' %}">Wedding dresses</a>
                <a href="{% url 'listings:category_page' category_slug='accessories' %}">Accessories</a>
                <a href="{% url 'listings:category_page' category_slug='occasional-dresses' %}">Occasional dresses</a>
                <a href="{% url 'listings:category_page' category_slug='handbags' %}">Handbags</a>
                <a href="{% url 'listings:category_page' category_slug='heels' %}">Heels</a>
            </div>            
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
    <div class="footer-content">
        <div class="footer-collumn">
            <h6>PLATFORMA</h6>
            <p>Kaip veikia nuoma?</p>
            <p>Dažniausiai užduodami klausimai</p>
            <p>Susikurti profilį</p>
            <p>Mano mėgstamiausi</p>
        </div>
        <div class="footer-collumn">
            <h6>PINKPINK</h6>
            <p>Apie mus</p>
            <p>Mados tvarumo iniciatyvos</p>
            <p>Karjera</p>
        </div>
        <div class="footer-collumn">
            <h6>TAISYKLĖS</h6>
            <p>Naudojimosi platforma taisyklės</p>
            <p>Privatumo politika</p>
        </div>
    </div>
    <div class="footer-extra-bar">
    <p>Copyright &copy; 2023-2024 Visos teisės saugomos</p>
        <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select class="language" name="language" onchange="this.form.submit();">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang.1 }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuToggle = document.getElementById("menu-toggle");
            const menu = document.querySelector(".menu");
    
            menuToggle.addEventListener('click', function() {
                menu.classList.toggle('visible');
            });
        });
    </script>
</body>
</html>