<!DOCTYPE html>
{% load static %}{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UPUPAM{% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    {% comment %} <div class="promo-line"><a href="{% url 'signup' %}">DISCOUNT FOR NEW PLATFORM USERS - NO FEES</a></div> {% endcomment %}
    <header>
        <div class="main-line">
            <div class="main-partition">
                <!-- Logo -->
                <div class="header-logo">
                    <a href="{% url 'listings:main_page' %}"> <img src="{% static 'logo.png' %}" ></a>
                </div>
                <!-- Search bar -->
                <div class="search-bar-header">
                    <form action="{% url 'listings:shop_page' %}" method="get" role="search">
                      <label for="search">Search</label>
                      <input id="search" type="text" name="q" placeholder="{% trans 'Search' %}" required />
                      <button type="submit">Go</button>
                    </form>
                </div>
            </div>
            <div class="main-partition">
                <!-- Action buttons -->
                <div class="action-buttons">
                    <a href="{% url 'listings:shop_page' %}" class="button">{% trans 'Rent' %}</a>
                    <a href="{% url 'listings:listing_create' %}" class="button-black">{% trans 'Lend' %}</a>
                </div>            
                <div class="profile-picture-icon">
                    {% if request.user.userprofile.picture %}
                        <img id="menu-toggle-desktop" class="menu-icon" src="{{ request.user.userprofile.picture.url }}" alt="{% trans "Profile Picture"|title %}" width="300">
                    {% else %}
                        <img id="menu-toggle-desktop" class="menu-icon" src="{% static 'profile-icon.png' %}">
                    {% endif %}
                </div>
                <!-- Desktop Navigation Menu -->
                <nav id="menu-desktop" class="menu">
                    <ul>
                        {% if request.user.is_authenticated %}
                            {% if request.user.userprofile.picture %}
                                <li><a href="{% url 'user_detail_current' %}">{% trans "My Profile" %}</a></li>
                            {% else %}
                                <li><a href="{% url 'user_update' %}">{% trans "Create Profile" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "my_favorite_users" %}">{% trans "My Favorite users" %}</a></li>
                            <li><a href="{% url "listings:my_favorites" %}">{% trans "My Favorite listings" %}</a></li>
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a></li>
                            {% endif %}
                            <li>
                                <form method="post" action="{% url "logout" %}">{% csrf_token %}
                                    <button type="submit">{% trans "log out"|capfirst %}</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "log in"|capfirst %}</a></li>
                            <li><a href="{% url 'signup' %}">{% trans "sign up"|capfirst %}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- Hamburger menu icon for mobile -->
                <div class="mobile-menu-icon">
                    <img id="menu-toggle-mobile" src="{% static 'hamburger-menu.png' %}" alt="{% trans "Menu" %}">
                </div>  
            </div>      
            <!-- Mobile Full-screen Menu -->
            <div id="fullscreen-menu" class="mobile-fullscreen-menu">
                <div class="mobile-exit-button">
                    <button id="menu-close-mobile">&times;</button>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'listings:shop_page' %}?parent_category=1&category=3">{% trans "Wedding dresses" %}</a></li>
                        <li><a href="{% url 'listings:shop_page' %}?parent_category=1&category=4">{% trans "Accessories" %}</a></li>
                        <li><a href="{% url 'listings:shop_page' %}?tags=6">{% trans "Evening dresses" %}</a></li>
                        <li><a href="{% url 'listings:shop_page' %}?parent_category=1&category=6">{% trans "Handbags" %}</a></li>
                        <li><a href="{% url 'listings:shop_page' %}?parent_category=1&category=7">{% trans "Shoes" %}</a></li>
                        <li><a href="{% url 'listings:listing_create' %}"> {% trans "Upload item for rent" %}</a></li>
                        <li><a href="{% url 'listings:shop_page' %}"> {% trans "Rent from others" %}</a></li>
                        {% if request.user.is_authenticated %}
                            {% if request.user.userprofile.picture %}
                                <li><a href="{% url 'user_detail_current' %}">{% trans "My Profile" %}</a></li>
                            {% else %}
                                <li><a href="{% url 'user_update' %}">{% trans "Create Profile" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "my_favorite_users" %}">{% trans "My Favorite users" %}</a></li>
                            <li><a href="{% url "listings:my_favorites" %}">{% trans "My Favorite listings" %}</a></li>
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a></li>
                            {% endif %}
                            <li>
                                <form method="post" action="{% url "logout" %}">{% csrf_token %}
                                    <button type="submit">{% trans "log out"|capfirst %}</button>
                                </form>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "log in"|capfirst %}</a></li>
                            <li><a href="{% url 'signup' %}">{% trans "sign up"|capfirst %}</a></li>
                        {% endif %}
                    </ul>
                </nav>                
            </div>
        </div>
        <div class="category-navbar">
            <a href="{% url 'listings:shop_page' %}?parent_category=1&category=3">{% trans "Wedding dresses" %}</a>
            <a href="{% url 'listings:shop_page' %}?parent_category=1&category=4">{% trans "Accessories" %}</a>
            <a href="{% url 'listings:shop_page' %}?tags=6">{% trans "Evening dresses" %}</a>
            <a href="{% url 'listings:shop_page' %}?parent_category=1&category=6">{% trans "Handbags" %}</a>
            <a href="{% url 'listings:shop_page' %}?parent_category=1&category=7">{% trans "Shoes" %}</a>
        </div>                          
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
        <div class="footer-content">
            <div class="footer-collumn">
                <div class="footer-logo">
                    <a href="{% url 'listings:main_page' %}"> <img src="{% static 'icon.png' %}" alt="Upupam Logo"></a>
                </div>
                <p><a href="mailto:upupam.official@gmail.com">upupam.official@gmail.com</a></p>
                <p><a href="{% url 'listings:about_us' %}">{% trans "About Upupam" %}</a></p>
            </div>
            <div class="footer-collumn">
                {% comment %} <p><a href="{% url 'listings:how_it_works' %}">{% trans "How It Works" %}</a></p> {% endcomment %}
                <p><a href="{% url 'listings:fashion_rental_tips' %}">{% trans "How to rent?" %}</a></p>
                <p><a href="{% url 'listings:best_practices_lending' %}">{% trans "How to lend?" %}</a></p>
            </div>
            <div class="footer-collumn">
                <p><a href="{% url 'listings:platform_rules' %}">{% trans "Platform Rules" %}</a></p>
                <p><a href="{% url 'listings:terms_and_conditions' %}">{% trans "Terms & Conditions" %}</a></p>
            </div>
        </div>
        <div class="footer-extra-bar">
            <p>Copyright &copy; Upupam. All rights reserved. 2024</p>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <select class="language" name="language" onchange="this.form.submit();">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang.1 }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </footer>    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuToggleDesktop = document.getElementById("menu-toggle-desktop");
            const menuDesktop = document.getElementById("menu-desktop");
            const menuToggleMobile = document.getElementById("menu-toggle-mobile");
            const fullscreenMenu = document.getElementById("fullscreen-menu");
            const menuCloseMobile = document.getElementById("menu-close-mobile");

            menuToggleDesktop.addEventListener('click', function() {
                menuDesktop.classList.toggle('visible');
            });

            menuToggleMobile.addEventListener('click', function() {
                fullscreenMenu.classList.toggle('visible');
            });

            menuCloseMobile.addEventListener('click', function() {
                fullscreenMenu.classList.remove('visible');
            });
        });
    </script>
</body>
</html>
