<!DOCTYPE html>
{% load static %}{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UPUPAM{% endblock title %}</title>
    <link rel="icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <header>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
    </footer>
</body>
</html>
