<!-- category_page.html -->
{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Category Page" %}{% endblock title %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <div class="grid-wrapper">
        {% for listing in listings %}
        {% if listing.is_available %}
        <div class="grid-item">
          {% if listing.picture %}
            <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
              <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
            </a>
          {% else %}
            <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
              <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
            </a>
          {% endif %}
          <a href="{% url 'listings:listing_detail' pk=listing.pk %}"><p>{{ listing.name }}</p></a>
          <p>{% trans "Size" %}: {{ listing.size }}</p>
          <p>{% trans "Value" %}: {{ listing.value }}</p>
          <p class="grid-price">{{ listing.price }}$ {% trans "For 4 days" %}</p>
          <div class="like-unlike">
            {% if user.is_authenticated %}
                {% if favorite_listing_ids %}
                    {% if listing.id in favorite_listing_ids %}
                        <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="icon-button">
                                <img class="icon" src="{% static 'unlike-icon.png' %}" alt="{% trans 'Unlike'|capfirst %}">
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                            <img class="icon" src="{% static 'like-icon.png' %}">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                        <img class="icon" src="{% static 'like-icon.png' %}">
                    </a>
                {% endif %}
            {% endif %}
          </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% if listings.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if listings.has_previous %}
                <a class="button-black" href="?page=1">&laquo; {% trans "First" %}</a>
                <a class="button-black" href="?page={{ listings.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}

            {% for num in listings.paginator.page_range %}
                {% if listings.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a class="button-black" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if listings.has_next %}
                <a class="button-black" href="?page={{ listings.next_page_number }}">{% trans "Next" %}</a>
                <a class="button-black" href="?page={{ listings.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock content %}
