{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{{ block.super }} {% trans "Main" %}{% endblock title %}
{% block content %}
<div class='main-page-content'>
  <div class="small-bar">
    <a href="{% url 'listings:listing_create' %}"> {% trans "Upload item for rent" %}</a>
    <a href="{% url 'listings:shop_page' %}"> {% trans "Rent from others" %}</a>
  </div>
  <div class="hero-picture">
    <img src="{% static 'hero.png' %}" alt="Hero picture">
    <div class="text-overlay"> 
      <h2>NUMBER 1 FORMAL IMAGE RENTAL PLATFORM IN LITHUANIA</h2>
      <h3>Collection of dresses of various sizes and models from different wardrobes</h3>
      <button>
        <a href="{% url 'listings:shop_page' %}">
            {% trans "Rent" %}
        </a>
    </button>
    </div>
  </div>

    {% comment %} <!-- About Us -->
    <p>{% trans "Welcome to Rented, your go-to platform for item rental. We believe in making life more convenient by providing a platform where users can easily rent items they need for a short period, saving both money and resources." %}</p>

    <!-- Our Vision -->
    <p>{% trans "At Rented, we envision a world where sharing resources is a common practice, reducing waste and promoting a sustainable lifestyle. We strive to connect people and enable them to share items, fostering a sense of community and environmental responsibility." %}</p>
 
    <!-- Our Stats -->
    <p>{% trans "Listing count" %} {{ listing_count }}</p>
    <p>{% trans "User count" %} {{ users_count }}</p> {% endcomment %}

  <div class="popular-dresses">
    <h6>Popular Dresses</h6>
    <div class="grid-wrapper">
      {% for listing in listings|slice:":4" %}
      <div class="grid-item">
        {% if listing.picture %}
          <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
            <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
          </a>
        {% else %}
          <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
            <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
          </a>
        {% endif %}
        <a href="{% url 'listings:listing_detail' pk=listing.pk %}"><p>{{ listing.name }}</p></a>
        <p>{% trans "Size" %}: {{ listing.size }}</p>
        <p>{% trans "Value" %}: {{ listing.value }}</p>
        <p class="grid-price">{{ listing.price }}$ {% trans "Per day" %}</p>
        {% if user.is_authenticated %}
          {% if user_favorites %}
          <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <button type="submit">{% trans "Unlike"|capfirst %}</button>
          </form>
          {% else %}
              <a class="button" href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                <img class="icon" src="{% static 'like-icon.png' %}">
              </a>
          {% endif %}
          <button>
          <a href="{% url 'offers:send_offer_with_listing' listing_id=listing.pk %}">
            {% trans "Send offer"|capfirst %}
          </a>
        </button>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    <div class="hero-button">
      <a href="{% url 'listings:shop_page' %}" >{% trans "All dresses" %}</a>
    </div>
  </div>
  <div class="brands-line">
    <h6>{% trans "SAME LUXURY, JUST CHEAPER" %}</h6>
    <img src="{% static 'new-arrivals.png' %}" alt="New-arrivals">
    <img src="{% static 'rebecca.png' %}" alt="Rebecca">
    <img src="{% static 'rotate.png' %}" alt="Rotate">
    <img src="{% static 'valentino.png' %}" alt="Valentino">
    <img src="{% static 'self-portrait.png' %}" alt="Self-portrait">
  </div>
  <div class="perk-bar">
    <div class="perk-text">
      <h1>{% trans "Creating sustainable and affordable fashion" %}</h1>
    </div>
    <div class="perk-cards">
      <div class="perk-card">
        <img src="{% static 'size-icon.png' %}" alt="size-icon"></img>
        <h5>{% trans "FIND YOUR SIZE" %}</h5>
        <h6>{% trans "The platform offers more than 5000 different sizes and models of dresses and other fashion products for rent." %}</h6>
      </div>
      <div class="perk-card">
        <img src="{% static 'cost-icon.png' %}" alt="cost-icon"></img>
        <h5>{% trans "DRESS UP FOR LESS" %}</h5>
        <h6>{% trans "Renting allows you to avoid high costs for a formal dress that is usually worn only a few times." %}</h6>
      </div>
      <div class="perk-card">
        <img src="{% static 'dress-icon.png' %}" alt="dress-icon"></img>
        <h5>{% trans "ACCESSIBLE LUXURY" %}</h5>
        <h6>{% trans "You will find dresses from the most popular designers on the platform, available to you for rent at a fraction of the value price." %}</h6>
      </div>
      <div class="perk-card">
        <img src="{% static 'leaf-icon.png' %}" alt="leaf-icon"></img>
        <h5>{% trans "PLANET-FRIENDLY" %}</h5>
        <h6>{% trans "With renting, we reduce the number of newly purchased items, promoting sustainable consumption." %}</h6>
      </div>
    </div>
  </div>
  <div class="review-bar">
    <div class="review-hero-text">
      <h6>KALBA PLATFORMOS VARTOTOJAI</h6>
    </div>
    <div class="reviews-container">
      <div class="reviews-card">
        <img alt="user-icon"></img>
        <p class="review-name">Eglė</p>
        <p class="review-text">Anksčiau apie 500 eur vertės Self-portrait suknelę galėjau tik pasvajoti. Su PINKPINK platforma, tai tapo įmanoma, nes suknelę galiu išsinuomoti vos už 50 eur.</p>
        <img alt="⭐"></img>
      </div>
      <div class="reviews-card">
        <img alt="user-icon"></img>
        <p class="review-name">Džiuljeta</p>
        <p class="review-text">Proginės suknelės paieška man visada asociavosi su nuolatiniu nusyvilimu, nerandant dydžio. Kaip džiaugiuosi atradusi PINKPINK, nes čia suknelę sau ras visos.</p>
        <img alt="⭐"></img>
      </div>
      <div class="reviews-card">
        <img alt="user-icon"></img>
        <p class="review-name">Irena</p>
        <p class="review-text">Praėjusią vasarą dalyvavau net penkiose vestuvėse. Bijojau, kad kiekvienai šventei reikės pirkti po naują suknelę, juk su ta pačia neisiu. Laimei, atradau PINKPINK. Buvau skirtingai pasipuošusi už puikias kainas.</p>
        <img alt="⭐"></img>
      </div>
    </div>
    <div class="reviews-button-container">
      <button>MORE INFORMATION ABOUT RENT</button>
    </div>
  </div>
  <div class="filter-bar">
    <div class="hero-text">
      <h6>SUKNELĖS VISOMS PROGOMS</h6>
    </div>
    <div class="grid-wrapper">
      <div class="grid-item">
        <img alt="dress"></img>
        <p>Vestuviu svecias</p>
      </div>
      <div class="grid-item">
        <img alt="dress"></img>
        <p>Gimtadienis</p>
      </div>
      <div class="grid-item">
        <img alt="dress"></img>
        <p>Kokteilinė apranga</p>
      </div>
      <div class="grid-item">
        <img alt="dress"></img>
        <p>Mergvakaris</p>
      </div>
    </div>
  </div>
  <div class="countainer-dual-choice">
    <div class="review-hero-text">
      <h6>SUSIKURK PILNĄ ĮVAIZDĮ</h6>
    </div>
    <div class="choice-container">
      <div class="dual-choice">
        <img alt="img1"></img>
        <button>button</button>
      </div>
      <div class="dual-choice">
        <img alt="img2"></img>
        <button>button</button>
      </div>
    </div>
  </div>
  <div class="perk-bar">
    <div class="perk-text">
      <h6>Kuriame tvaria ir prieinama mada</h6>
    </div>
    <div class="perk-cards">
      <div class="perk-card">
        <img alt="icon"></img>
        <h5>PELNINGA</h5>
        <h6>Nuomojant nusipirktus proginius drabužius, tu gali susigrąžinti jiems išleistus pinigus ir uždirbti papildomai.</h6>
      </div>
      <div class="perk-card">
        <img alt="icon"></img>
        <h5>IŠMANU</h5>
        <h6>Galėsi ir toliau mėgautis savo proginiu mados produktu, nes jis ir toliau liks tavo.</h6>
      </div>
      <div class="perk-card">
        <img alt="icon"></img>
        <h5>TVARU</h5>
        <h6>Suteiksi galimybę kitoms vartotojoms ne pirkti ir taip mažinsi mados vartotojiškumą.</h6>
      </div>
    </div>
  </div>
</div>
{% endblock content %}