{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<div class='main-page-content'>
  <div class="hero-picture">
    <img src="{% static 'hero.png' %}" alt="Hero picture">
    <div class="text-overlay"> 
      <h2>{% trans "Rent, Earn, Discover - all without leaving your neighborhood!" %}</h2>
      <h3>{% trans "Enjoy easy fashion rentals, no fees. Earn while sharing your wardrobe. Join our platform and start your journey today!" %}</h3>
      <div class="hero-buttons">
        <button>
          <a href="{% url 'listings:listing_create' %}">
              {% trans "Earn now" %}
          </a>
        </button>
        <button class="button-black">
          <a href="{% url 'listings:shop_page' %}">
              {% trans "Explore" %}
          </a>
        </button>
      </div>
    </div>
  </div>

    {% comment %} <!-- About Us -->
    <p>{% trans "Welcome to UPUPAM, your go-to platform for item rental. We believe in making life more convenient by providing a platform where users can easily rent items they need for a short period, saving both money and resources." %}</p>

    <!-- Our Vision -->
    <p>{% trans "At UPUPAM, we envision a world where sharing resources is a common practice, reducing waste and promoting a sustainable lifestyle. We strive to connect people and enable them to share items, fostering a sense of community and environmental responsibility." %}</p>
 
    <!-- Our Stats -->
    <p>{% trans "Listing count" %} {{ listing_count }}</p>
    <p>{% trans "User count" %} {{ users_count }}</p> {% endcomment %}

  <div>
    <div class="seperator-text">
      <h1>{% trans "Top Trending Dresses" %}</h1>
    </div>
    <div class="grid-wrapper">
      {% for listing in listings|slice:":4" %}
        {% if listing.is_available %}
          <div class="grid-item">
            {% if listing.picture %}
              <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
                <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
              </a>
            {% else %}
              <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
                <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
              </a>
            {% endif %}
            <div class="grid-tags">
              <a href="{% url 'listings:shop_page' %}?size={{ listing.size }}"><p>{{ listing.size }}</p></a>
              <a href="{% url 'listings:shop_page' %}?brand={{ listing.brand.name }}"><p>{{ listing.brand }}</p></a>
            </div>
            <div class="grid-text">
              <p>{{ listing.price|floatformat:0 }} {% trans " &#8364;/4 days" %}</p>
              {% if listing.is_for_sale %}
                <p2>{% trans "Buy now" %}: {{ listing.value|floatformat:0 }} &#8364;</p2>
              {% endif %}
            </div>
            <div class="like-unlike">
              {% if user.is_authenticated %}
                  {% if favorite_listing_ids %}
                      {% if listing.id in favorite_listing_ids %}
                          <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="icon-button">
                                  <img class="icon" src="{% static 'unlike-icon.png' %}" alt="{% trans 'Unlike'|capfirst %}">
                              </button>
                          </form>
                      {% else %}
                          <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                              <img class="icon" src="{% static 'like-icon.png' %}">
                          </a>
                      {% endif %}
                  {% else %}
                      <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                          <img class="icon" src="{% static 'like-icon.png' %}">
                      </a>
                  {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
<div class="filter-bar">
  <div class="seperator-text">
    <h1>{% trans "Dresses for Every Occasion" %}</h1>
  </div>
  <div class="grid-wrapper-occasion">
    <a href="{% url 'listings:shop_page' %}?tags=3">
      <div class="filter-grid-item">
        <img src="{% static 'pinkpink-vestuviusvecias.avif' %}" alt="dress"></img>
        <p>{% trans "Wedding guest" %}</p>
      </div>
    </a>
    <a href="{% url 'listings:shop_page' %}?tags=6">
      <div class="filter-grid-item">
        <img src="{% static 'pinkpink-gimtadienis.avif' %}" alt="dress"></img>
        <p>{% trans "Evening dresses" %}</p>
      </div>
    </a>
    <a href="{% url 'listings:shop_page' %}?tags=4">
      <div class="filter-grid-item">
        <img src="{% static 'pinkpink-kokteilineapranga.avif' %}" alt="dress"></img>
        <p>{% trans "Cocktail party" %}</p>
      </div>
    </a>
    <a href="{% url 'listings:shop_page' %}?tags=5">
      <div class="filter-grid-item">
        <img src="{% static 'pinkpink-mergvakaris.avif' %}" alt="dress"></img>
        <p>{% trans "Bachelorette party" %}</p>
      </div>
    </a>
  </div>
</div>
<div class="seperator-text">
  <h1>{% trans "How Upupam Platform Works" %}</h1>
</div>
<div class="hiw-container">
  <div class="dual-choice">
      <button id="lend-button" class="active">{% trans "How to Lend" %}</button>
      <button id="rent-button">{% trans "How to Rent" %}</button>
  </div>
  <div class="how-it-works-container">
    <div id="lend-content" class="container-content active">
      <div class="hiw-grid">
        <h2>{% trans "No Fees" %}</h2>
        <p>{% trans "List your items for rent for free. You have full control to set the rental price, rules, insurance fee, or deposit. The renter will pay directly into your account. All profits are yours." %}</p>
      </div>
      <div class="hiw-grid">
        <h2>{% trans "Communicate Directly with the Renter" %}</h2>
        <p>{% trans "The renter will contact you directly using the contact details you provided. Inform them about the rental conditions, agree on the method of delivery or pickup, and finalize the rental period." %}</p>
      </div>
      <div class="hiw-grid">
        <h2>{% trans "Rent Out and Ship" %}</h2>
        <p>{% trans "Once the rental order is confirmed with the renter, pack and ship the item via a parcel locker/bus shipment or hand it over in person during a meeting with the renter." %}</p>
      </div>
    </div>
    <div id="rent-content" class="container-content">
      <div class="hiw-grid">
        <h2>{% trans "Choose Items from the Catalog" %}</h2>
        <p>{% trans "Discover what other users are renting and pick a dress, suit, shoes, or accessories for your special occasion." %}</p>
      </div>
      <div class="hiw-grid">
        <h2>{% trans "Contact the Lender" %}</h2>
        <p>{% trans "Get in touch directly with the lender using the provided contact details to discuss the rental terms, rules, shipping/transfer method, and final price." %}</p>
      </div>
      <div class="hiw-grid">
        <h2>{% trans "No Platform Fees" %}</h2>
        <p>{% trans "Pay the rental order directly into the lender's account. No additional fees to the platform." %}</p>
      </div>
    </div>
  </div>
</div>
<div class="seperator-div">
  <button><a href="{% url "listings:listing_create" %}">{% trans "Start Lending Now" %}</a></button>
</div>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="{% static 'norma-kamali.png' %}" alt="Norma-kamali">
    </div>
    <div class="slide">
      <img src="{% static 'rebecca-vallance.png' %}" alt="Rebecca-vallance">
    </div>
    <div class="slide">
      <img src="{% static 'rotate.png' %}" alt="Rotate">
    </div>
    <div class="slide">
      <img src="{% static 'valentino.png' %}" alt="Valentino">
    </div>
    <div class="slide">
      <img src="{% static 'self-portrait.png' %}" alt="Self-portrait">
    </div>
    <!-- Duplicates start here -->
    <div class="slide">
      <img src="{% static 'norma-kamali.png' %}" alt="Norma-kamali">
    </div>
    <div class="slide">
      <img src="{% static 'rebecca-vallance.png' %}" alt="Rebecca-vallance">
    </div>
    <div class="slide">
      <img src="{% static 'rotate.png' %}" alt="Rotate">
    </div>
    <div class="slide">
      <img src="{% static 'valentino.png' %}" alt="Valentino">
    </div>
    <div class="slide">
      <img src="{% static 'self-portrait.png' %}" alt="Self-portrait">
    </div>
  </div>
</div>  
<div class="seperator-text">
  <h1>{% trans "Complete Your Look" %}</h1>
</div>
<div class="complete-your-look">
  <div class="container-choice">
    <img src="{% static 'rent-handbags.png' %}" alt="rent-handbags">
    <button><a href="{% url 'listings:shop_page' %}?parent_category=1&category=9">{% trans "Rent Bags" %}</a></button>
  </div>
  <div class="container-choice">
    <img src="{% static 'rent-shoes.png' %}" alt="rent-shoes">
    <button><a href="{% url 'listings:shop_page' %}?parent_category=1&category=10">{% trans "Rent Shoes" %}</a></button>
  </div>
</div>
<div class="seperator-div">
  <button>
    <a href="{% url 'listings:feedback' %}">
        {% trans "Feedback" %}
    </a>
  </button>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const lendButton = document.getElementById('lend-button');
    const rentButton = document.getElementById('rent-button');
    const lendContent = document.getElementById('lend-content');
    const rentContent = document.getElementById('rent-content');
  
    lendButton.addEventListener('click', function() {
      lendButton.classList.add('active');
      rentButton.classList.remove('active');
      lendContent.classList.add('active');
      rentContent.classList.remove('active');
    });
  
    rentButton.addEventListener('click', function() {
      rentButton.classList.add('active');
      lendButton.classList.remove('active');
      rentContent.classList.add('active');
      lendContent.classList.remove('active');
    });
  });  
</script>
{% endblock content %}