{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Main Page" %}{% endblock title %}
{% block content %}
    <h1>{% trans "Shop" %}</h1>
    <!-- Search Form Tags -->
    <form method="GET" action="{% url 'listings:shop_page' %}">
        <input type="text" name="q" placeholder="Search by listing name" value="{{ request.GET.q }}">

        <h4>{% trans "Filter by Tags" %}</h4>
        {% for tag in tags %}
            <label>
                <input type="checkbox" name="tags" value="{{ tag.id }}"
                    {% if tag.id in request.GET.tags %}checked{% endif %}>
                {{ tag.name }}
            </label>
        {% endfor %}

        <button type="submit">{% trans "Filter" %}</button>
    </form>
    <!-- Category Filter Form -->
    <form method="GET" action="{% url 'listings:shop_page' %}">
        <div class="category-filters">
            <p>{% trans "Filter by Category:" %}</p>
            <label for="parent-category-filter">{% trans "Parent Category:" %}</label>
            <select id="parent-category-filter" name="parent_category">
                <option value="all">{% trans "All" %}</option>
                {% for parent in parent_categories %}
                    <option value="{{ parent.id }}">{{ parent.name }}</option>
                {% endfor %}
            </select>
            
            <label for="sub-category-filter">{% trans "Sub-Category:" %}</label>
            <select id="sub-category-filter" name="category">
                <option value="all">{% trans "All" %}</option>
                <!-- Sub-categories will be populated by JavaScript -->
            </select>
            
            <button type="submit">{% trans 'Filter' %}</button>
        </div>
    </form>
    <div class="grid-wrapper">
        {% for listing in listings %}
        <div class="grid-item">
          {% if listing.picture %}
            <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
              <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
            </a>
          {% else %}
            <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
              <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
            </a>
          {% endif %}
          <a href="{% url 'listings:listing_detail' pk=listing.pk %}"><p>{{ listing.name }}</p></a>
          <p>{% trans "Size" %}: {{ listing.size }}</p>
          <p>{% trans "Value" %}: {{ listing.value }}</p>
          <p class="grid-price">{{ listing.price }}$ {% trans "Per day" %}</p>
          <div class="like-unlike">
            {% if user.is_authenticated %}
                {% if favorite_listing_ids %}
                    {% if listing.id in favorite_listing_ids %}
                        <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="icon-button">
                                <img class="icon" src="{% static 'unlike-icon.png' %}" alt="{% trans 'Unlike'|capfirst %}">
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                            <img class="icon" src="{% static 'like-icon.png' %}">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                        <img class="icon" src="{% static 'like-icon.png' %}">
                    </a>
                {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if listings.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ listings.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in listings.paginator.page_range %}
            {% if listings.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if listings.has_next %}
            <a href="?page={{ listings.next_page_number }}">Next</a>
            <a href="?page={{ listings.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const categories = {{ categories|safe }};
            const parentCategoryFilter = document.getElementById("parent-category-filter");
            const subCategoryFilter = document.getElementById("sub-category-filter");
        
            parentCategoryFilter.addEventListener("change", function() {
                const parentId = this.value;
                
                // Clear current options in sub-category filter
                subCategoryFilter.innerHTML = '<option value="all">{% trans "All" %}</option>';
                
                if (parentId !== "all") {
                    // Populate sub-category filter based on selected parent category
                    const filteredSubCategories = categories.filter(category => category.parent === parseInt(parentId));
                    
                    filteredSubCategories.forEach(function(subCategory) {
                        const option = document.createElement("option");
                        option.value = subCategory.id;
                        option.text = subCategory.name;
                        subCategoryFilter.appendChild(option);
                    });
                }
            });
        });
        </script>
{% endblock content %}
