{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Main Page" %}{% endblock title %}
{% block content %}
<div class="filter-div">
    <!-- Combined Filter Form -->
    <form method="GET" action="{% url 'listings:shop_page' %}">
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" name="q" placeholder="Search by listing name" value="{{ request.GET.q }}">
            <input type="text" name="city" placeholder="Search by city" value="{{ request.GET.city }}">
        </div>
        <!-- For Sale Checkbox -->
        <div>
            <label>
                <input type="checkbox" name="is_for_sale" value="true" {% if request.GET.is_for_sale == 'true' %}checked{% endif %}>
                {% trans "For Sale" %}
            </label>
            <!-- Sort by Price -->
            <label>
                <input type="checkbox" name="sort_by" value="price_asc" {% if request.GET.sort_by == 'price_asc' %}checked{% endif %}>
                {% trans "Price: Low to High" %}
            </label>
            <label>
                <input type="checkbox" name="sort_by" value="price_desc" {% if request.GET.sort_by == 'price_desc' %}checked{% endif %}>
                {% trans "Price: High to Low" %}
            </label>
        </div>
        <!-- Tag Checkboxes -->
        <div>
            <p>{% trans "Filter by Tags" %}</p>
            {% for tag in tags %}
                <label>
                    <input type="checkbox" name="tags" value="{{ tag.id }}"
                        {% if tag.id in request.GET.tags %}checked{% endif %}>
                    {{ tag.name }}
                </label>
            {% endfor %}
        </div>
        <!-- Color Filter -->
        <div>
            <label for="color-filter">{% trans "Filter by Color:" %}</label>
            <select id="color-filter" name="color">
                <option value="all">{% trans "All Colors" %}</option>
                {% for color, display in colors %}
                    <option value="{{ color }}" {% if request.GET.color == color %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Size Filter -->
        <div>
            <label for="size-filter">{% trans "Filter by Size:" %}</label>
            <select id="size-filter" name="size">
                <option value="all">{% trans "All Sizes" %}</option>
                {% for size in sizes %}
                    <option value="{{ size }}" {% if request.GET.size == size %}selected{% endif %}>{{ size }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Category Filters -->
        <div class="category-filters">
            <p>{% trans "Filter by Category:" %}</p>

            <!-- Parent Category Dropdown -->
            <label for="parent-category-filter"></label>
            <select id="parent-category-filter" name="parent_category" onchange="fetchSubcategories(this.value)">
                <option value="all">{% trans "All Parent Categories" %}</option>
                {% for parent in parent_categories %}
                    <option value="{{ parent.id }}" {% if parent.id|stringformat:"s" == request.GET.parent_category %}selected{% endif %}>
                        {{ parent.name }}
                    </option>
                {% endfor %}
            </select>

            <!-- Sub-Category Dropdown -->
            <label for="sub-category-filter"></label>
            <select id="sub-category-filter" name="category">
                <option value="all">{% trans "All Sub-Categories" %}</option>
                {% if subcategories %}
                    {% for subcategory in subcategories %}
                        <option value="{{ subcategory.id }}" {% if subcategory.id|stringformat:"s" == request.GET.category %}selected{% endif %}>
                            {{ subcategory.name }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div>
            <input type="text" id="brand-input" name="brand" placeholder="Search for a brand...">
            <select id="brand-dropdown" size="5" style="display:none; position:absolute;"></select>
        </div>
        <!-- Single Filter Button -->
        <button type="submit">{% trans "Filter" %}</button>
    </form>
    <div>
        <p>Total Listings: {{ listings.paginator.count }}</p>
    </div>
</div>
<div class="grid-wrapper">
    {% for listing in listings %}
    {% if  listing.is_available %}
    <div class="grid-item">
        {% if listing.picture %}
        <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
            <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="400" class="listing-image">
        </a>
        {% else %}
        <a href="{% url 'listings:listing_detail' pk=listing.pk %}">
            <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="400" class="listing-image">
        </a>
        {% endif %}
        <a href="{% url 'listings:listing_detail' pk=listing.pk %}"><p>{{ listing.name }}</p></a>
        <p>{% trans "Size" %}: {{ listing.size }}</p>
        <p>{% trans "Value" %}: {{ listing.value }}</p>
        <p class="grid-price">{{ listing.price }}$ {% trans "For 4 days" %}</p>
        <div class="like-unlike">
        {% if user.is_authenticated %}
            {% if favorite_listing_ids %}
                {% if listing.id in favorite_listing_ids %}
                    <form action="{% url 'listings:remove_favorite_listing' listing.pk %}?next={{ request.path }}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="icon-button">
                            <img class="icon" src="{% static 'unlike-icon.png' %}" alt="{% trans 'Unlike'|capfirst %}">
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                        <img class="icon" src="{% static 'like-icon.png' %}">
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'listings:add_favorite_listing' listing.pk %}?next={{ request.path }}">
                    <img class="icon" src="{% static 'like-icon.png' %}">
                </a>
            {% endif %}
        {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="pagination">
    {% if listings.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ listings.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in listings.paginator.page_range %}
        {% if listings.number == num %}
            <span class="current">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if listings.has_next %}
        <a href="?page={{ listings.next_page_number }}">Next</a>
        <a href="?page={{ listings.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>

<script>
    function fetchSubcategories(parentId) {
        if (parentId) {
            fetch(`{% url 'listings:get_subcategories' %}?parent_category=` + parentId)
                .then(response => response.json())
                .then(data => {
                    const subcategorySelect = document.getElementById('sub-category-filter');
                    subcategorySelect.innerHTML = '<option value="all">{% trans "All Sub-Categories" %}</option>';
                    data.subcategories.forEach(subcategory => {
                        const option = document.createElement('option');
                        option.value = subcategory.id;
                        option.textContent = subcategory.name;
                        subcategorySelect.appendChild(option);
                    });
                });
        } else {
            document.getElementById('sub-category-filter').innerHTML = '<option value="">{% trans "Select Sub-Category" %}</option>';
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#brand-input').on('input', function(){
            var query = $(this).val();
            if (query.length > 0) {
                $.ajax({
                    url: '{% url "listings:brand_search" %}',
                    data: {'q': query},
                    success: function(data){
                        $('#brand-dropdown').empty();
                        if (data.length > 0) {
                            $('#brand-dropdown').show();
                            data.forEach(function(brand){
                                // Append brand names to the dropdown
                                $('#brand-dropdown').append('<option value="' + brand.name + '">' + brand.name + '</option>');
                            });
                        } else {
                            $('#brand-dropdown').hide();
                        }
                    }
                });
            } else {
                $('#brand-dropdown').hide();
            }
        });
    
        $('#brand-dropdown').on('change', function(){
            $('#brand-input').val($(this).val());
            $('#brand-dropdown').hide();
        });
    });
</script>
{% endblock content %}
