{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "About Us" %}{% endblock title %}
{% block content %}
<div class="about-us">
    <h1>{% trans "About Us" %}</h1>

    <h2>{% trans "Fashion Rental" %}</h2>
    <p>{% trans "Upupam platform is a place to transform consumerism choices. Here, we wish to create a safe and friendly place for all customers to contribute to circular items' life. Due to this, we ask all members to adhere to the Upupam Platform Catalog Rules below when uploading their items." %}</p>
</div>
{% endblock content %}
