{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "About Us" %}{% endblock title %}
{% block content %}
<div class="about-us">
    <h1>{% trans "About Upupam" %}</h1>
    <p>{% trans "Upupam is the first online peer-to-peer fashion rental platform in Lithuania. We created this platform to drive a fashion revolution, reducing the consumption of new items and promoting a sharing economy." %}</p>
    <p>{% trans "Our mission is to change traditional fashion consumption through rental. Special occasion wear is one of the least worn categories of clothing, yet people often choose to buy a new outfit for each event. On this platform, we aim to create a space where you can find the perfect look for your special occasion and rent it out, while also putting your own special items to use by renting them to others." %}</p>
    <p>{% trans "The vision of the Upupam fashion rental platform is to be the place where fashion lovers can enjoy special and luxurious outfits at an affordable price, without contributing to harm to our climate." %}</p>
</div>
{% endblock content %}
