{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Fashion Rental Tips and Guidelines" %}{% endblock title %}
{% block content %}
<div class="about-us">
    <h1>{% trans "How to Rent?" %}</h1>

    <p>{% trans "You are the owner of the item you are renting out, and the rental price and rules are your decision. You control to whom you rent your items and specify the rental conditions." %}</p>
    
    <p>{% trans "Carefully photograph your rental item or use photos you already have, such as from an event where you wore it. Provide a description in the listing that includes size, color, condition, and other relevant details." %}</p>
        
    <p>{% trans "The renter will contact you through our platform. You can access your messages by clicking the hamburger menu in the top-right corner and selecting 'My Messages'. Clearly provide all terms regarding the rental period, rental fee, how you will handle situations if the item is damaged, options for ironing the item, who is responsible for cleaning costs, how you will send the item, and who pays for shipping, or whether you will arrange a live handover of the item. To receive payment for the order, provide the renter with your bank account details. The Upupam platform does not charge any fees. All profits you earn belong to you." %}</p>
</div>
{% endblock content %}
