{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Terms and Conditions" %}{% endblock title %}
{% block content %}
<div class="terms-conditions">
    <h1>{% trans "Terms and Conditions" %}</h1>

    <h2>{% trans "Introduction" %}</h2>
    <p>{% trans "These terms and conditions govern your use of Upupam, an online C2C fashion rental platform (the 'Platform'). By accessing or using the Platform, you agree to be bound by these terms and conditions and our Privacy Policy." %}</p>

    <h2>{% trans "User Eligibility" %}</h2>
    <p>2.1. {% trans "You must be at least 18 years old to use the Platform." %}</p>
    <p>2.2. {% trans "By using the Platform, you confirm that you have the right to enter into this Agreement and to be bound by its terms." %}</p>

    <h2>{% trans "User Accounts" %}</h2>
    <p>3.1. {% trans "To access certain features of the Platform, you may need to create an account." %}</p>
    <p>3.2. {% trans "You agree to provide accurate, current, and complete information during the registration process and to update it to keep it accurate, current, and complete." %}</p>
    <p>3.3. {% trans "You are responsible for the security of your account login information and all activities that occur under your account." %}</p>

    <h2>{% trans "Listings and Transactions" %}</h2>
    <p>4.1. {% trans "Users can create ads for fashion items that are available for rent." %}</p>
    <p>4.2. {% trans "The Platform does not facilitate transactions between users and does not create or guarantee the quality, safety, legality, or availability of items." %}</p>
    <p>4.3. {% trans "Users agree to accurately reflect the condition, size, and other relevant data of the posted items." %}</p>
    <p>4.4. {% trans "Users are in full control of their items and rentals. The Platform does not assume ownership or responsibility for any posted items." %}</p>

    <h2>{% trans "Rental Agreements" %}</h2>
    <p>5.1. {% trans "By renting an item through the Platform, users do not enter into a legally binding contract with the owner of the item." %}</p>
    <p>5.2. {% trans "Users agree to be bound by the terms and conditions set out in the rental agreement, including, but not limited to, the duration of the rental, the rental fee, and the repayment terms." %}</p>

    <h2>{% trans "Prohibited Conduct" %}</h2>
    <p>6.1. {% trans "Prohibited conduct includes, but is not limited to, fraud, harassment, infringement of intellectual property rights, and illegal activities." %}</p>

    <h2>{% trans "Intellectual Property" %}</h2>
    <p>7.1. {% trans "All content and materials available on the Platform, including but not limited to text, graphics, logos, photographs, and software, are the property of Upupam or its licensors and are protected by copyright, trademark, and other intellectual property laws." %}</p>
    <p>7.2. {% trans "Users agree not to copy, distribute, modify, or create derivative works from any content on the Platform without prior written consent." %}</p>

    <h2>{% trans "Limitation of Liability" %}</h2>
    <p>8.1. {% trans "In no event shall Upupam be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenue, whether directly or indirectly, arising out of your use of the Platform." %}</p>

    <h2>{% trans "Payments and Fees" %}</h2>
    <p>9.1. {% trans "The Platform does not issue refunds for any fees or charges paid to other users." %}</p>

    <h2>{% trans "No Guarantee of Successful Transactions" %}</h2>
    <p>10.1. {% trans "The Platform does not guarantee the successful completion of rental transactions. Users agree that rental transactions are at their own risk." %}</p>
    <p>10.2. {% trans "The Platform is not responsible for the payment of the items by the renters or for the shipment of the items by the renters as described." %}</p>
    <p>10.3. {% trans "If the renter fails to pay, or the item is not as described, the Platform shall not be liable for any resulting loss or damage." %}</p>

    <h2>{% trans "Modifications to Terms and Conditions" %}</h2>
    <p>11.1. {% trans "Upupam reserves the right to amend or supplement these Terms and Conditions at any time. Any changes will be effective immediately upon posting on the Platform." %}</p>
    <p>11.2. {% trans "Your continued use of the Platform following the posting of any changes shall constitute your acceptance of such changes." %}</p>

    <h2>{% trans "Contact Information" %}</h2>
    <p>{% trans "If you have any questions or concerns about these terms and conditions, please contact us at upupam.official@gmail.com." %}</p>
</div>
{% endblock content %}
