<!-- offers/templates/offers/send_offer.html -->
{% extends "base.html" %}
{% block title %}Send Offer{% endblock %}
{% block content %}
  <h1>Send offer</h1>
  <p>Owner: <a href="{% url 'user_detail' username=listing.owner.username %}">{{ listing.owner.username }}</a></p>
  <p>Listing: <a href="{% url 'listings:listing_detail' pk=listing.pk %}">{{ listing.name }}</a></p>
  <form method="post" action="{% url 'offers:send_offer_with_listing' listing_id=listing.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Offer</button>
  </form>
{% endblock %}
